<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
	<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">


    <!-- =========================
       Bootstrap and animation
    ============================== -->
    <link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/animate.min.css">

    <!-- =========================
       Fonts, typography and icons
    ============================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- =========================
       Carousel, lightbox and circle generator
    ============================== -->
    <link rel="stylesheet" href="{{ theme_url }}/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/owl.theme.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/nivo-lightbox.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/nivo-lightbox-default.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/jquery.circliful.css">

    <!-- ***** Custom Stylesheet ***** -->
    <link rel="stylesheet" href="{{ theme_url }}/css/main-blue.css">
      <link rel="stylesheet" href="{{ theme_url }}/css/custom.css">

    <!-- ***** Responsive fixes ***** -->
    <link rel="stylesheet" href="{{ theme_url }}/css/responsive.css">

    <!-- Header scripts -->
    <script src="{{ theme_url }}/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="{{ theme_url }}/js/queryloader2.min.js"></script>

    <!-- =========================
       Preloader
    ============================== -->
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            "use strict";
            new QueryLoader2(document.querySelector("body"), {
                barColor: "#e74c3c",
                backgroundColor: "#111",
                percentage: true,
                barHeight: 1,
                minimumTime: 200,
                fadeOutTime: 1000
            });
        });
    </script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================
       Fullscreen menu
    ============================== -->
   <div class="mobilenav">
        <ul>
            <li data-rel="#header">
                <span class="nav-label">Home</span>
            </li>
            <li data-rel="#about-us">
                <span class="nav-label">About Us</span>
            </li>
            <li data-rel="#why-choose-us">
                <span class="nav-label">Why Choose Us</span>
            </li>
            <li data-rel="#our-team">
                <span class="nav-label">Our Team</span>
            </li>
            <li data-rel="#testimonial">
                <span class="nav-label">Testimonial</span>
            </li>
            <li data-rel="#portfolio">
                <span class="nav-label">Portfolio</span>
            </li>
            <li data-rel="#map">
                <span class="nav-label">Contact Us</span>
            </li>
        </ul>
    </div>  <!-- *** end Full Screen Menu *** -->

    <!-- *****  hamburger icon ***** -->
    <a href="javascript:void(0)" class="menu-trigger">
       <div class="hamburger">
         <div class="menui top-menu"></div>
         <div class="menui mid-menu"></div>
         <div class="menui bottom-menu"></div>
       </div>
    </a>


<!-- end navigation -->

    <!-- =========================
       START CONTENT - see content/inc for blocks
    ============================== -->
    {{ content }}

    <!-- =========================
       END CONTENT
    ============================== -->


    <!-- =========================
       Footer
    ============================== -->
    <footer id="footer" class="footer">
        <div class="container padding-large text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <figure class="margin-bottom-medium" style="padding-bottom:25px; font-weight:bold;">
                      <div class="col-md-4"><i class="fa fa-envelope fa-3x" style="color:#e0e0e0;"></i><br />enquiries@jardwebdesign.co.uk<br /><br /></div>
                      <div class="col-md-4"><i class="fa fa-mobile fa-3x"style="color:#e0e0e0;"></i><br />+447437765527<br /><br /></div>
                      <div class="col-md-4"><i class="fa fa-skype fa-3x"style="color:#e0e0e0;"></i><br />jardwebdesign<br /><br /></div>
                    </figure>



                    <!-- =========================
                       Social icons
                    ============================== -->
                    <ul class="social margin-bottom-medium">
                        <li class="facebook hvr-pulse"><a href="http://facebook.com/jardwebdesign"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter hvr-pulse"><a href="http://twitter.com/jardwd"><i class="fa fa-twitter"></i></a></li>
                        <li class="behance hvr-pulse"><a href="https://www.behance.net/jardwebdesign"><i class="fa fa-behance"></i></a></li>
                        <li class="g-twitter hvr-pulse"><a href="https://bitbucket.org/getjard/"><i class="fa fa-bitbucket"></i></a></li>
                        <li class="g-facebook hvr-pulse"><a href="https://github.com/d4zzy"><i class="fa fa-github"></i></a></li>

                      <!-- <li class="g-plus hvr-pulse"><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                      <!--  <li class="linkedin hvr-pulse"><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                      <!--  <li class="youtube hvr-pulse"><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                      <!--  <li class="instagram hvr-pulse"><a href="#"><i class="fa fa-instagram"></i></a></li> -->

                      <!--  <li class="dribbble hvr-pulse"><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    </ul>
                    <p class="copyright">
                         made with love and caffine by JARD - www.jardwebdesign.co.uk </br>
                        Powered by <a href="#">Pico CMS</a> - Download this <a href="#">theme</a>
                    </p>
                </div>
            </div>
        </div>
    </footer> <!-- *** end Footer *** -->

    <!-- =========================
       Back to top button
    ============================== -->
    <div class="back-to-top" data-rel="header">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- =========================
     JavaScripts
    ============================== -->
    <script src="{{ theme_url }}/js/vendor/jquery-1.11.1.js"></script>
    <script src="{{ theme_url }}/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ theme_url }}/js/twitterFetcher_min.js"></script>
    <script src="{{ theme_url }}/js/vendor/bootstrap.js"></script>
    <script src="{{ theme_url }}/js/wow.min.js"></script>
    <script src="{{ theme_url }}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ theme_url }}/js/jquery.easing.min.js"></script>
    <script src="{{ theme_url }}/js/appear.js"></script>
    <script src="{{ theme_url }}/js/jquery.circliful.min.js"></script>
    <script src="{{ theme_url }}/js/owl.carousel.min.js"></script>
    <script src="{{ theme_url }}/js/nivo-lightbox.min.js"></script>
    <script src="{{ theme_url }}/js/isotope.pkgd.min.js"></script>
    <script src="{{ theme_url }}/js/main.js"></script>
    <script src="{{ theme_url }}/js/contact.js"></script>
    
</body>
</html>
