.form-control {
      background-color: transparent !important;
      border-top:none !important;
      }

      /* Ghost Button Style */
      .ghost-button {
          color: #009688;

          border-left: 1px solid #999;
          border-right: 1px solid #999;
          border-top: 1px solid #999;
          font-size: 19px;
          padding: 7px 12px;
          font-weight: bold;
          margin: 6px 0;
          margin-right: 12px;
          display: inline-block;
          text-decoration: none;
          font-family: 'Raleway',Open Sans, sans-serif;
          min-width: 120px;
      }

      .ghost-button:hover, .ghost-button:active {
        color:#fff;
        background:#009688;
      }

        .bg-white {
            opacity: 0.9;
            background: #FCFFFD ;
            margin-top: 65px;
        }
        
